header div pre{
    position: relative;
    
}
#text a {
    color: white;
    padding: auto;
}

#text a:hover {
    background-color: #004BB1;
    color: #fff;
    border-radius: 10px;
}

#post a {
    margin-left: 3%;
    white-space: nowrap;
}

#show img {
    margin: 0%;
    width: 100%;
}

#home-tab:hover {
    background-color:#004BB1;
    color: #fff;
}

#profile-tab:hover {
    background-color: #004BB1;
    color: #fff;
}

#contact-tab:hover {
    background-color: #004BB1;
    color: #fff;
}

#research-tab:hover {
    background-color: #004BB1;
    color: #fff;
}

#trained-tab:hover {
    background-color:#004BB1;
    color: #fff;
}

#project-tab:hover {
    background-color:#004BB1;
    color: #fff;
}

#myTabContent {
  
    padding: 5%;
    border: 1px solid rgb(211, 211, 211);
}

h3 {
    font-weight: bold;
    color: rgb(32, 24, 77);
}

.float-container {
    border: 3px solid #fff;
    padding: 10px;
}

#floatbig {
    width: 50%;
    float: left;    
}

.flex-container{
    width: 120%;
}

#floatsmall {   
    padding-left: 15%;
    width: 50%;
    float: left;
}

div.scroll { 
    overflow-y: hidden;
    width: 79%;
    height: 350px;
    overflow-x: hidden;
    background-color: #EBF1F9;
    text-align: left;
    padding: 20px;
    font-family: 'MyriadPro-Regular';
}

#data a hr{
    border: 1px dashed rgb(104, 104, 104);
}

#space div{
    padding: 3%;
}

#under ul li a{
    text-decoration: none;
}

#under ul li a:hover{
    text-decoration: underline;
}

#align {
    display: flex;
    justify-content: center;
}

#font {
    width: fit-content;
    margin: auto;
    border: 1px solid white; 
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

#slider {
    position: relative;
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#fix img{
    margin-left: 2%;
    padding: 1%;
  }